

input[type=text] {
  text-align: left;
  width: 100%;
  padding: 5px 5px 5px 5px;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
  outline: none;
  margin:5px 0 10px 0;
  color: darkblue;
  }

input[type=text]:focus {
  background-color: lightblue;

}

input[type=submit] {
  background-color:  #4aaaa5;
  border: none;
  color: white;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
  float: left;
  font-size: 70%;
}

label {
  float: left;
  color: #ccc;
}

#message{
  height: 250px;
}
