

div.img {
  position: relative;
  display: inline;
  float: left;
  width: 283px;
 }

img.left{

  margin-right: 20px;
  margin-top: 20px;
}
img.right{

  margin-left: 20px;
  margin-top: 20px;

}


div.abs {
  position: absolute;
  background-color: #4aaaa5;
  color: white;
  text-align: center;
  padding: 10px 0 10px 0;
  top: 240px;
  bottom: 20px;
  width: 283px;

}*/
